<style>
.md-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  >div {
    flex: 1 1;
    margin: 1rem 0;
    min-width: 100px;
    max-width: 100%;
    padding: 0 1rem;
  }

  .markdown-inner {
    margin-top: 0;
    margin-bottom: 0;
  }
}
table {
  display: none;
}

</style>

<div class="md-columns">
{{ range split .Inner "<--->" }}
{{ printf "<div class=\"markdown-inner\">" | htmlUnescape | safeHTML }}
{{ . | safeHTML }}
{{ printf "</div>" | htmlUnescape | safeHTML }}
{{ end }}
</div>
